body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;


}

.background-image {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
}

.overlap {
    align-items: center;
    justify-content: center;
    display: flex;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    font-size: 45px;
    flex-direction: column;
}

.link {
    color: white;
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: 400;
    background-color: tomato;
    text-decoration: none;
}

.donation {
    color: black;
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 8%;
}

.donation h1 {
    font-size: 70px;
    font-weight: 600;



}

.donation h2 {
    font-size: 55px;
    font-weight: 600;
}

.money {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    margin-bottom: 5%;
    background-color: rgb(255, 247, 247);
    font-size: 15px;
    color: gray;

}

#two {
    border: 5px solid lightblue;
}

.add-money {
    margin-bottom: 5%;
    color: gray;
    font-weight: 100;
    font-size: 30px;
    text-decoration: underline;
}

.button {
    background-color: tomato;
    padding: 10px 10px;
    font-weight: 700;
    margin-top: 1%;
    border-radius: 10px;


}

.flexible {
    display: flex;
}

p {
    font-size: 24px;
}

.hard-work h2 {
    font-size: 35px;
}

.hard-work p {
    text-align: justify;
}

.hard-work {
    margin: auto;

}

.shelter {

    justify-content: space-between;
    margin: 5%;
}

#education {
    background-color: bisque;
    border-radius: 5%;
}

.flexible-container h1 {
    font-size: 55px;
}

.flexible-container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;

}

.half-width img {
    border-radius: 8%;
}